.city {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.form {
  text-align: center;
}
ul {
  list-style-type: none;
}
.day {
  text-align: left;
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.days {
  text-align: left;
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.wind {
  font-size: 15px;
  font-style: italic;
  text-align: right;
}
.images {
  display: block;
  margin-left: 20px;
  font-size: 20px;
  padding: 2px;
  text-align: center;
}
.temp {
  display: inline-block;
  opacity: 0.6;
}
.country {
  border: 3px solid #d59bf6;
  border-radius: 8px;
  max-width: 450px;
  margin: 30px;
  margin-bottom: 68px;
  margin-left: 380px;
  padding: 28px;
}
