.city {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.form {
  text-align: center;
}
ul {
  list-style-type: none;
}
.day {
  text-align: left;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.days {
  text-align: left;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.wind {
  font-size: 17px;
  font-style: italic;
  text-align: right;
  margin-left: 28px;
}
.images {
  display: block;
  margin-left: 20px;
  font-size: 29px;
  padding: 2px;
  text-align: center;
}
.temp {
  display: inline-block;
  opacity: 0.6;
  font-style: italic;
  margin-left: 100px;
  position: relative;
  top: -75px;
}
.country {
  border: 3px solid #625772;
  border-radius: 8px;
  background-color: #a9eee6;
  max-width: 450px;
  margin: 30px;
  margin-bottom: 68px;
  margin-left: 380px;
  padding: 28px;
}
.degree {
  font-size: 12px;
  margin-left: 135px;
  position: relative;
  top: -110px;
}
.loader {
  margin: 80px;
  padding: 80px;
}
